# Core functionality - changes here should be rare!
/src/app.py                   @lifehacr
/src/backend/database.py      @lifehacr
/src/backend/routers/auth.py  @lifehacr

# The frontend will need refactored soon to be more object oriented.
/src/static/   @lifehacr
